__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
db.sqlite3
.env
.venv/
venv/
env/
.DS_Store
staticfiles/
media/
migrations/**/__pycache__/
*.log
*.pot
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
Thumbs.db

